body {

    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: yellow;

}

h1 {

    margin: 0;
    color: aqua;
    font-family: 'Indie Flower', cursive;
}

h2 {

    font-family: 'Barlow Condensed', sans-serif;
    font-size: 75px;
}

h3 {

    font-family: 'Barlow Condensed', sans-serif;
    font-size: 75px;
}




div {

    background-color: #1C315E;




}

.top-container {

    position: relative;
    padding-top: 100px;

}

.middle-container {
  


}

.bottom-container {



}

.rain {

    text-decoration: underline;
}

.topcloud {

    position: absolute;
    right: 650px;
    top: 50px;
}

.bottomcloud {

    position: absolute;
    left: 650px;
    bottom: 300px;
}

.jdu {

height: 200px;
width: 200px;
border-radius: 75%;


}

.guitar {

    height: 200px;
    width: 200px;
    border-radius: 75%;


}

.imjustin {
font-size: 100px;
height: 100px;

}

.wizard {

    

}